[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% IF in_template_var %]
    [% vars.field_descs.import({
        "actual_time"       => "Act. Points",
        "work_time"         => "Act. Points",
        "remaining_time"    => "Rem. Points",
    }) IF Param('agile_use_points') %]
[% END %]
