[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% IF template.name == 'bug/show.html.tmpl'
    or template.name == 'bug/process/results.html.tmpl'
    or template.name == 'bug/create/created.html.tmpl' %]
    [% IF Param('agile_start_working_button') %]
    <script type="text/javascript">
    var AGILE_ASSIGNED = "[% Param('agile_working_on_status') FILTER js %]";
    $(function() {
        var defaultComment = "[% Param('agile_start_working_comment') FILTER js %]";
        var assigneeInput = $("input[name=assigned_to]");
        var bugStatusSelect = $("select[name=bug_status]");
        if (assigneeInput.val() == BB_CONFIG.user.login
                && bugStatusSelect.val() == AGILE_ASSIGNED)
            return;
        if (bugStatusSelect.find("option[value=" + AGILE_ASSIGNED + "]").size() == 0)
            return;
        var commentInput = $("textarea[name=comment]");
        $("div.knob-buttons").prepend('<input type="button" class="start_working" value="Start Working"/>');
        $("div.knob-buttons input.start_working").click(function() {
            assigneeInput.val(BB_CONFIG.user.login);
            bugStatusSelect.val(AGILE_ASSIGNED);
            var comment = commentInput.val();
            if (!comment && defaultComment) {
                commentInput.val(defaultComment);
            }
            $("form#changeform").submit();
        });
    });
    </script>
    [% END %]
[% END %]
