[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% IF message_tag == "agile_team_created" %]
    Team [% team.name FILTER html %] has been successfully created.
    You can now edit the members and responsibilities of the team.
[% ELSIF message_tag == "agile_team_saved" %]
    Team [% team.name FILTER html %] has been successfully saved.
[% ELSIF message_tag == "agile_team_removed" %]
    Team [% team.name FILTER html %] has been successfully removed.
[% END %]
