[%# Note that error messages should generally be indented four spaces, like
  # below, because when Bugzilla translates an error message into plain
  # text, it takes four spaces off the beginning of the lines. 
  #%]
[% IF error == "agile_team_exists" %]
    [% title = "The team already exists" %]
    The team [% name FILTER html %] already exists.
[% ELSIF error == "agile_empty_name" %]
    [% title = "Name required" %]
    Name is required and you did not provide any.
[% ELSIF error == "agile_team_edit_not_allowed" %]
    [% title = "Team editing denied" %]
    You are not allowed to edit team [% name FILTER html %]
[% ELSIF error == "agile_bad_responsibility_type" %]
    [% title = "Unknown responsibility type" %]
    Responsibility type of [% type FILTER html %] is not supported
[% ELSIF error == "agile_access_denied" %]
    [% title = "Access denied" %]
    You are not allowed to access AgileTools on this Bugzilla. Contact admins
    for adding you to AgileTools user group.
[% ELSIF error == "agile_team_manage_denied" %]
    [% title = "Access denied" %]
    You are not allowed to manage teams in AgileTools
[% END %]
