[%# Note that error messages should generally be indented four spaces, like
  # below, because when Bugzilla translates an error message into plain
  # text, it takes four spaces off the beginning of the lines. 
  #%]
[% IF error == "agile_team_exists" %]
    [% title = "The team already exists" %]
    The team [% name FILTER html %] already exists.
[% END %]
