[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% IF class.match("AgileTools::Team") %]
team
[% ELSIF class.match("AgileTools::Role") %]
role
[% ELSIF class.match("AgileTools::Pool") %]
pool
[% ELSIF class.match("AgileTools::Sprint") %]
sprint
[% END %]
