[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% USE Bugzilla %]

[% PROCESS "global/variables.none.tmpl" %]

[% WRAPPER bb/wraplist.html.tmpl
    title="$terms.Bug Burndown"
%]

[% PROCESS "agiletools/burn-init.html.tmpl" %]

[% PROCESS "agiletools/burn-chart.html.tmpl" %]

[% PROCESS burn_date_picker %]

[% IF Bugzilla.cgi.param("include_list") %]
  [% PROCESS list/table.html.tmpl %]
[% END %]

[% END %]