[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% javascript = BLOCK %]

/* Global scrum variables */
var SCRUM = {
  sprint_id: [% sprint_id %],
  backlog_id: [% backlog_id %],
  team_id: [% team.id %],
};

/* Initialize the page on ready */
$(function(){_initScrumPlanning()});

[% END %]

[% INCLUDE global/header.html.tmpl
    title = "Team " _ team.name _ " Scrum planning",
    style_urls = [
        "extensions/AgileTools/web/css/base.css",
        "extensions/AgileTools/web/css/planning.css",
        "extensions/AgileTools/web/css/buglist.css",
        ],
    javascript_urls = [
        "extensions/AgileTools/web/js/buglist.js",
        "extensions/AgileTools/web/js/scrum.js",
        ],
%]

<button class="left">&lt;&lt;</button>
<button class="right">&gt;&gt;</button>
<div class="pagebox"><div class="columnbox">

    <div id="sprint" class="list-container">
      <div id="sprint_name" class="list-title"
          >[% team.current_sprint.name FILTER html %]</div>
      <div class="list-header"></div>
      <ul class="list-content"></ul>
      <div class="list-footer"></div>
    </div>

</div><div class="columnbox">

    <div id="backlog" class="list-container">
      <select class="pool-selector list-title" name="backlog">
          [% UNLESS backlog_id %]
          <option disabled="disabled">No backlogs</option>
          [% END %]
          [% FOREACH bl IN team.backlogs %]
          <option [% IF backlog_id == bl.id %]selected="selected"[% END #%]
            value="[% bl.id FILTER html %]">[% bl.name FILTER html %]</option>
          [% END %]
        </select>
      <div class="list-header"></div>
      <ul class="list-content"></ul>
      <div class="list-footer"></div>
    </div>

</div><div class="columnbox" style="display:none;">

    <div id="unprioritized" class="list-container">
      <div class="list-title">Unprioritized items</div>
      <div class="list-header"></div>
      <ul class="list-content"></ul>
      <div class="list-footer"></div>
    </div>

</div></div>

<hr/>
[% IF team.user_can_edit %]
[<a href="page.cgi?id=agiletools/team/show.html&amp;team_id=[% team.id %]">Manage team</a>]
[% END %]

<!-- Hidden templates start here -->
<div id="templates">
  <form id="sprint_editor_template">
    <table>
      <tr>
        <td>Estimated capacity:</td>
        <td><input name="capacity"/></td>
      </tr>
      <tr>
        <td>Start date:</td>
        <td><input name="start_date"/></td>
      </tr>
      <tr>
        <td>End date:</td>
        <td><input name="end_date"/></td>
      </tr>
    </table>
  </form>

    <table id="sprint_info_template">
        <tr>
            <td>Start:</td>
            <td class="start-date"></td>
        </tr>
        <tr>
            <td>End:</td>
            <td class="end-date"></td>
        </tr>
        <tr>
            <td>Estimated capacity:</td>
            <td class="estimated-cap"></td>
        </tr>
        <tr>
            <td>Remaining capacity:</td>
            <td class="remaining-cap"></td>
        </tr>
        <tr>
            <td>Remaining work:</td>
            <td class="remaining-work"></td>
        </tr>
        <tr>
            <td>Free capacity:</td>
            <td class="free-cap"></td>
        </tr>
        [% IF team.user_can_edit %]
        <tr>
            <td></td>
            <td>
                <button type="button" name="edit">Edit</button>
                <button type="button" name="close">Close</button>
                <button type="button" name="commit">Commit</button>
            </td>
        </tr>
        [% END %]
    </table>

    <ul>
        <li id="bug_item_template" class="ui-corner-all">
            <a href="#" target="_blank" title="id"></a>
            <span title="status"></span>
            <span title="summary"></span><br/>
            <button type="button" class="expand">Show details</button>
            <span class="times">
                <span title="estimated_time">0</span>/
                <span title="remaining_time">0</span>
                <button type="button" class="estimate">Estimate</button>
            </span>
            <div class="details">
                Assigned to:<span title="assigned_to"></span><br/>
                Depends on:<a title="depends_on" href="#" target="_blank"></a><br/>
                Blocks:<a title="blocks" href="#" target="_blank"></a><br/>
            </div>
            <ul class="dependson"></ul>
        </li>
    <ul>

    <form id="bug_estimate_editor_template">
    <table>
        <tr>
            <td><label for="estimated_time">Original estimate:</label></td>
            <td><input name="estimated_time"/></td>
        </tr>
        <tr>
            <td><label for="remaining_time">Remaining estimate:</label></td>
            <td><input name="remaining_time"/></td>
        </tr>
    </table>
    </form>

</div>

[% INCLUDE global/footer.html.tmpl %]
