[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the AgileTools Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Pami Ketolainen
  # Portions created by the Initial Developer are Copyright (C) 2012 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Pami Ketolainen <pami.ketolainen@gmail.com>
  #
  #%]

[% javascript = BLOCK %]

/* Global scrum variables */
var SCRUM = {
    team_id: [% team.id %],
};

/* Initialize the page on ready */
$(function() {
    scrumInitPage();
});

[% END %]

[% INCLUDE global/header.html.tmpl
    title = "Team " _ team.name _ " Scrum planning",
    style_urls = [
        "extensions/AgileTools/web/css/base.css",
        ],
    javascript_urls = [
        "extensions/AgileTools/web/js/buglist.js",
        "extensions/AgileTools/web/js/scrum.js",
        ],
%]

<div class="center">
    <div id="list_1" class="list-container left">
        <div class="list-header">
            <select name="content_selector">
                <option value="-1">[% team.name FILTER html %] unprioritized items</option>
            [% FOREACH pool IN team.pools(1) %]
                [% disabled = team.backlog_id == pool.id ?
                    'disabled="disabled"' : "" %]
                [% selected = team.current_sprint_id == pool.id ?
                    'selected="selected"' : "" %]
                <option value="[% pool.id %]" [% disabled %] [% selected %]>
                [% pool.name _ ' (Pool ID ' _ pool.id _ ')' FILTER html %]</option>
            [% END %]
            </select>
            <br/>
            <button type="button" name="reload">Reload</button>
            Search:<input name="content_search"/>
        </div>

        <ul class="list-content">
        </ul>

        <div class="list-footer">
        </div>
    </div>

    <div id="list_2" class="list-container right">
        <div class="list-header">
            <select name="content_selector">
                <option value="-1">[% team.name FILTER html %] unprioritized items</option>
            [% FOREACH pool IN team.pools(1) %]
                [% disabled = team.current_sprint_id == pool.id ?
                    'disabled="disabled"' : "" %]
                [% selected = team.backlog_id == pool.id ?
                    'selected="selected"' : "" %]
                <option value="[% pool.id %]" [% disabled %] [% selected %]>
                [% pool.name _ ' (Pool ID ' _ pool.id _ ')' FILTER html %]</option>
            [% END %]
            </select>
            <br/>
            <button type="button" name="reload">Reload</button>
            Search:<input name="content_search"/>
        </div>

        <ul class="list-content">
        </ul>

        <div class="list-footer">
        </div>
    </div>
</div>

[% IF team.user_can_edit %]
[<a href="page.cgi?id=agiletools/team/show.html&amp;team_id=[% team.id %]">Manage team</a>]
[% END %]

<!-- Hidden templates start here -->
<div id="templates">
    <form id="sprint_editor_template">
        <table>
            <tr>
                <td>Start date:</td>
                <td><input name="start_date"/></td>
            </tr>
            <tr>
                <td>End date:</td>
                <td><input name="end_date"/></td>
            </tr>
            <tr>
                <td>Estimated capacity:</td>
                <td><input name="capacity"/></td>
            </tr>
        </table>
    </form>

    <table id="sprint_info_template">
        <tr>
            <td>Start:</td>
            <td class="start-date"></td>
        </tr>
        <tr>
            <td>End:</td>
            <td class="end-date"></td>
        </tr>
        <tr>
            <td>Estimated capacity:</td>
            <td class="estimated-cap"></td>
        </tr>
        <tr>
            <td>Remaining capacity:</td>
            <td class="remaining-cap"></td>
        </tr>
        <tr>
            <td>Remaining work:</td>
            <td class="remaining-work"></td>
        </tr>
        <tr>
            <td>Free capacity:</td>
            <td class="free-cap"></td>
        </tr>
        [% IF user_roles.defined('Scrum Master') %]
        <tr>
            <td></td>
            <td>
                <button type="button" name="edit">Edit</button>
                <button type="button" name="close">Close</button>
            </td>
        </tr>
        [% END %]
    </table>

    <div id="resposibility_filter_template">
        Show responsibilities:<br/>
        <select name="responsibilities" multiple="multiple">
        [% FOREACH item IN team.responsibilities('component') %]
            <option value="component:[% item.id %]" selected="selected">
            component: [% item.name %]</option>
        [% END %]
        [% FOREACH item IN team.responsibilities('keyword') %]
            <option value="keyword:[% item.id %]" selected="selected">
            keyword: [% item.name %]</option>
        [% END %]
        </select>
    </div>

    <ul>
        <li id="bug_item_template" class="ui-corner-all">
            <a href="#" target="_blank" title="id"></a>
            <span title="status"></span>
            <span title="summary"></span><br/>
            <button type="button" class="expand">Show details</button>
            <span class="times">
                <span title="estimated_time">0</span>/
                <span title="remaining_time">0</span>
                <button type="button" class="estimate">Estimate</button>
            </span>
            <div class="details">
                Assigned to:<span title="assigned_to"></span><br/>
                Depends on:<a title="depends_on" href="#" target="_blank"></a><br/>
                Blocks:<a title="blocks" href="#" target="_blank"></a><br/>
            </div>
            <ul class="dependson"></ul>
        </li>
    <ul>

    <form id="bug_estimate_editor_template">
    <table>
        <tr>
            <td><label for="estimated_time">Original estimate:</label></td>
            <td><input name="estimated_time"/></td>
        </tr>
        <tr>
            <td><label for="remaining_time">Remaining estimate:</label></td>
            <td><input name="remaining_time"/></td>
        </tr>
    </table>
    </form>

</div>

[% INCLUDE global/footer.html.tmpl %]
