[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the AgileTools Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Pami Ketolainen
  # Portions created by the Initial Developer are Copyright (C) 2012 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Pami Ketolainen <pami.ketolainen@gmail.com>
  #
  #%]

[% INCLUDE global/header.html.tmpl
    title = "Scrum planing",
    style_urls = [
        "extensions/AgileTools/web/css/base.css",
        ],
    javascript_urls = [
        "extensions/AgileTools/web/js/scrum.js",
        ],
%]

[% pool_options = BLOCK %]
    <option value"-1">[% team.name FILTER html %] unprioritized items</option>
    [% FOREACH pool IN team.pools %]
    <option value="[% pool.id %]">[% pool.name FILTER html %]</option>
    [% END %]
[% END %]

<script>
var SCRUM = {
    team_id: [% team.id %],
};
</script>

<div id="templates">
    <form id="sprint_editor_template">
        <table>
            <tr>
                <td>Start date:</td>
                <td><input name="startDate"/></td>
            </tr>
            <tr>
                <td>End date:</td>
                <td><input name="endDate"/></td>
            </tr>
            <tr>
                <td>Estimated capacity:</td>
                <td><input name="capacity"/></td>
            </tr>
        </table>
    </form>

    <table id="sprint_info_template">
        <tr>
            <td class="startDate"></td>
            <td class="endDate"></td>
        </tr>
        <tr>
            <td>Estimated capacity:</td>
            <td class="capacity"></td>
        </tr>
        <tr>
            <td>Estimated work:</td>
            <td class="estimatedWork"></td>
        </tr>
        <tr>
            <td>Free capacity:</td>
            <td class="freeCapacity"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" name="edit">Edit</button></td>
        </tr>
    </table>

    <div id="resposibility_filter_template">
        Show responsibilities:<br/>
        <select name="resposibilities" multiple="multiple"></select>
    </div>

</div>


<div class="center">
    <div class="listContainer left">
        <div class="listHeader">
            <select name="contentSelector">
                [% pool_options %]
            </select>
            <button type="button" name="createSprint">Create Sprint</button>
            <br/>
            Filter:<input name="contentFilter" />
        </div>

        <ul class="bugList">
        </ul>

        <div class="listFooter">
        </div>
    </div>

    <div class="listContainer right">
        <div class="listHeader">
            <select name="contentSelector">
                [% pool_options %]
            </select>
            <button type="button" name="createSprint">Create Sprint</button>
            <br/>
            Filter:<input name="contentFilter" />
        </div>

        <ul class="bugList">
        </ul>
        <div class="listFooter">
        </div>
    </div>
</div>


[% INCLUDE global/footer.html.tmpl %]
