[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% style = BLOCK %]
  td,th { padding: 5px; }
  tr.odd {background-color: lightgray; }
  td.green {background-color: green; }
  td.yellow {background-color: yellow; }
  td.red {background-color: red; }
  td.start,th.start { border-left: solid 1px; }
  thead { text-align: left; }
  tbody th { text-align: left; }
  tbody td { text-align: right; }
[% END %]

[% INCLUDE global/header.html.tmpl
    title = "Team " _ team.name _ " sprints",
    style_urls = [
        "extensions/AgileTools/web/css/base.css",
        ],
%]

[% columnlist = Param('agile_scrum_buglist_columns') FILTER uri %]

<table style="border-collapse: collapse;">
  <thead>
    <tr>
      <th colspan="5"></th>
      <th class="start" colspan="3">Items</th>
      <th class="start" colspan="3">Remaining effort</th>
      <th class="start" colspan="3">Work done</th>
    </tr>
    <tr>
      <th>Sprint</th>
      <th>Start date</th>
      <th></th>
      <th>End date</th>
      <th>Capacity</th>
      <td class="start">on commit</td>
      <td>on close</td>
      <td>+/-</td>
      <td class="start">on commit</td>
      <td>on close</td>
      <td>+/-</td>
      <td class="start">Items</td>
      <td>%</td>
      <td>Effort</td>
      <td>%</td>
    </tr>
  </thead>
  <tbody>
    [% FOREACH sprint = sprints %]
    [% IF sprint.committed AND !sprint.is_active %]
      [% items_ch = sprint.items_on_close - sprint.items_on_commit %]
      [% estimate_ch = sprint.estimate_on_close - sprint.estimate_on_commit %]
    [% ELSE %]
      [% items_ch = '' %]
      [% estimate_ch = '' %]
    [% END %]
    <tr class="[% loop.index() % 2 ? 'even' : 'odd' %]">
      <th>
        <a href="buglist.cgi?query_format=advanced&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% sprint.id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]">
          [% sprint.name FILTER html %]</a>
          [% IF team.current_sprint_id == sprint.id %]
          <br/>(Current
          [% IF user.in_group_id(team.group_id) %]
          <a href="page.cgi?id=agiletools/scrum/planning.html&amp;team_id=[% team.id %]">[% sprint.committed ? 'committed' : 'planning' %]</a>
          [% END %])
          [% END %]
      </th>
      <td>[% sprint.start_date FILTER time("%Y-%m-%d") FILTER html %]</td>
      <td>-</td>
      <td>[% sprint.end_date FILTER time("%Y-%m-%d") FILTER html %]</td>
      <td>[% sprint.capacity FILTER html %]</td>

      <td class="start">[% sprint.items_on_commit FILTER html IF sprint.committed %]</td>
      <td>[% sprint.items_on_close FILTER html
              IF sprint.committed AND !sprint.is_active %]</td>
      <td>[% items_ch FILTER format('%+d') FILTER html %]</td>

      <td class="start">[% sprint.estimate_on_commit FILTER html IF sprint.committed %]</td>
      <td>[% sprint.estimate_on_close FILTER html
              IF sprint.committed AND !sprint.is_active %]</td>
      <td>[% estimate_ch FILTER format('%+d') FILTER html %]</td>

      <td class="start">[% sprint.resolved_on_close FILTER html
              IF sprint.committed AND !sprint.is_active %]</td>
      [% IF sprint.items_completion.defined %]
      <td class="[% PROCESS color value=sprint.items_completion %]">
        [% sprint.items_completion FILTER format('%d %%') %]</td>
      [% ELSE %]<td></td>[% END %]

      <td>[% sprint.effort FILTER html %]</td>

      [% IF sprint.effort_completion.defined %]
      <td class="[% PROCESS color value=sprint.effort_completion %]">
        [% sprint.effort_completion FILTER format('%d %%') %]</td>
      [% ELSE %]<td></td>[% END %]
    </tr>
    [% END %]
  </tbody>
</table>

[% INCLUDE global/footer.html.tmpl %]

[% BLOCK color %]
  [%- IF value != '' -%]
    [%- IF value > 90 -%]green
    [%- ELSIF value > 40 -%]yellow
    [%- ELSE -%]red
    [%- END -%]
  [%- END -%]
[% END %]
