[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[%
    title = "AgileTools"
    desc = "AgileTools Extension"
%]

[% param_descs = {} %]
[% FOREACH param IN panel.param_list %]
    [% param_descs.${param.name} = param.desc %]
[% END %]
