[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% PROCESS "global/variables.none.tmpl" %]

<script type="text/javascript"
    src="[% "extensions/AgileTools/web/js/jquery.flot.min.js" FILTER mtime %]"></script>
<script type="text/javascript"
    src="[% "extensions/AgileTools/web/js/jquery.flot.axislabels.js" FILTER mtime %]"></script>
<script type="text/javascript"
    src="[% "extensions/AgileTools/web/js/burn.js" FILTER mtime %]"></script>

<script type="text/javascript">
BURN = {
  itemUnit: "[% terms.Bugs FILTER js %]",
  workUnit: "[% Param('agile_use_points') ? 'Points' : 'Hours' %]",
};
</script>


[% BLOCK burn_date_picker %]
<div id="burn_date_picker">
  <label for="burn_start">From</label>
  <input name="burn_start" value="[% burn_start %]"></input>
  <label for="burn_end">To</label>
  <input name="burn_end" value="[% burn_end %]"></input>
  <button type="button" name="change_dates">Go</button>
</div>

<script type="text/javascript">
$(function() {
  initBurnDatePicker($("#burn_date_picker"))
})
</script>
[% END # BLOCK burn_date_picker %]
