[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the AgileTools Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Pami Ketolainen
  # Portions created by the Initial Developer are Copyright (C) 2012 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Pami Ketolainen <pami.ketolainen@gmail.com>
  #
  #%]

[% INCLUDE global/header.html.tmpl
    title = "Team $team.name",
    style_urls = [
        "extensions/AgileTools/web/css/base.css",
        ],
    javascript_urls = [
        "extensions/AgileTools/web/js/team.js",
        ],
%]
<script>
/**
 * Page script entry point
 */
var main = function() {
    $("#toggle_editor").click(function(){
        $(".team_editor").toggle();
    });
    $("#new_member").userautocomplete();
    $("button.add").button({
        icons:{primary:"ui-icon-circle-plus"},
        text: false,
        });
    $("button.remove").button({
        icons:{primary:"ui-icon-circle-minus"},
        text: false,
        });
    $("button").not(".add,.remove").button();
};

$(main);
</script>

<h1>Team [% team.name FILTER html %]</h1>

<h2>Members</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Roles</th>
            <th class="team_editor">Actions</th>
        </tr>
    </thead>
    <tbody>
    [% FOREACH member IN team.members %]
        <tr>
            <td>[% member.realname FILTER html %]</td>
            <td>
            [% FOREACH role IN member.agile_team_roles(team) %]
                [% role.name FILTER html %]
            [% END %]
            </td>
            [% IF team.user_can_edit %]
            <td class="team_editor">
                <button class="remove" type="button"
                    value="removeMember_[% member.id %]">Remove member</button>
                <button type="button" value="edit_[% member.id %]">Edit</button>
            </td>
            [% END %]
        </tr>
    [% END %]
    [% IF team.user_can_edit %]
        <tr class="team_editor">
            <td>
                <input id="new_member">
            </td>
            <td></td>
            <td>
                <button id="addMember" class="add" type="button">Add member</button>
            </td>
        </tr>
    [% END %]
    </tbody>
</table>
</ul>

<h2>Responsibilities</h2>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <th>Components</th>
        </tr>
        [% FOREACH component IN team.components %]
        <tr>
            <td>[% component.name FILTER html %]</td>
            [% IF team.user_can_edit %]
            <td class="team_editor">
                <button type="button" class="remove"
                        value="removeComponent_[% component.id %]">Remove</button>
            </td>
            [% END %]
        </tr>
        [% END %]
        [% IF team.user_can_edit %]
        <tr class="team_editor">
            <td><input id="new_component"/></td>
            <td><button type="button" class="add" value="addComponent">Add</button></td>
        </tr>
        [% END %]

        <tr>
            <th>Keywords</th>
        </tr>
        [% FOREACH keyword IN team.keywords %]
        <tr>
            <td>[% keyword.name FILTER html %]</td>
            [% IF team.user_can_edit %]
            <td class="team_editor">
                <button type="button" class="remove"
                        value="removeKeyword_[% keyword.id %]">Remove</button>
            </td>
            [% END %]
        </tr>
        [% END %]
        [% IF team.user_can_edit %]
        <tr class="team_editor">
            <td><input id="new_keyword"/></td>
            <td><button type="button" class="add" value="addKeyword">Add</button></td>
        </tr>
        [% END %]
    </tbody>
</table>
[% IF team.user_can_edit %]
<button id="toggle_editor" type="button">Show/Hide Editing</button><br/>
[% END %]

<a href="page.cgi?id=agiletools/index.html">Back to team list</a>

[% INCLUDE global/footer.html.tmpl %]

