[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the AgileTools Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Pami Ketolainen
  # Portions created by the Initial Developer are Copyright (C) 2012 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Pami Ketolainen <pami.ketolainen@gmail.com>
  #
  #%]

[% INCLUDE global/header.html.tmpl
    title = "Team $team.name",
    style_urls = [
        "extensions/AgileTools/web/css/base.css",
        ],
    javascript_urls = [
        "extensions/AgileTools/web/js/team.js",
        ],
%]
<script>
/**
 * Page script entry point
 */
var main = function() {
    $("button.toggleEditor").click(function(){
        $(".editor").toggle();
    });
    var team = new Team([% team_json %]);
};

$(main);
</script>

<div id="templetes" style="display:none;">
<table>
    <tr id="memberTemplate">
        <td class="name"></td>
        <td>
            <button class="editor remove" type="button">Remove member</button>
        </td>
        <td>
            <table class="roles">
                <tr class="editor">
                    <td>
                        <select class="newRole">
                            <option value=""></option>
                        [% FOREACH role IN roles %]
                            <option value="[% role.id %]">[% role.name FILTER html %]</option>
                        [% END %]
                        </select>
                    </td>
                    <td><button class="add" type="button">Add role</button></td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr id="roleTemplate">
        <td class="name"></td>
        <td class="editor">
            <button class="remove" type="button">Remove role</button>
        </td>
    </tr>

    <tr id="responsibilityTemplate">
        <td class="name"></td>
        <td class="editor">
            <button type="button" class="remove">Remove</button>
        </td>
    </tr>
</table>

</div>

<h1>Team [% team.name FILTER html %]</h1>

<h2>Members</h2>
<table id="teamMembers">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
    [% IF team.user_can_edit %]
        <tr class="editor">
            <td>
                <input class="newMember">
            </td>
            <td>
                <button class="add" type="button">Add member</button>
            </td>
        </tr>
    [% END %]
    </tbody>
</table>
</ul>

<h2>Responsibilities</h2>
<table id="teamComponents">
    <thead>
        <tr>
            <th>Components</th>
        </tr>
    </thead>
    <tbody>
        [% IF team.user_can_edit %]
        <tr class="editor">
            <td>
                <select class="newComponent"/>
                    <option value=""></option>
                [% FOREACH component IN components %]
                    <option value="[% component.id %]">[% component.name FILTER html %]</option>
                [% END %]
                </select>
            </td>
            <td><button type="button" class="add">Add</button></td>
        </tr>
        [% END %]
    </tbody>
</table>
<table id="teamKeywords">
    <thead>
        <tr>
            <th>Keywords</th>
        </tr>
    </thead>
    <tbody>
        [% IF team.user_can_edit %]
        <tr class="editor">
            <td>
                <select class="newKeyword"/>
                    <option value=""></option>
                [% FOREACH keyword IN keywords %]
                    <option value="[% keyword.id %]">[% keyword.name FILTER html %]</option>
                [% END %]
                </select>
            </td>
            <td><button type="button" class="add">Add</button></td>
        </tr>
        [% END %]
    </tbody>
</table>
[% IF team.user_can_edit %]
<button class="toggleEditor" type="button">Show/Hide Editing</button><br/>
[% END %]

<a href="page.cgi?id=agiletools/teams.html">Back to team list</a>

[% INCLUDE global/footer.html.tmpl %]

