#templates {
    display: none;
}

/* Team management pages */
.editor {
    display: none;
}
button.add {
    width: 1.5em;
    height: 1.5em;
}
button.remove {
    width: 1.5em;
    height: 1.5em;
}


/* Scrum planing page */
.center {
    margin-left: auto;
    margin-right: auto;
}
.left {
    margin-left: 0px;
    float: left;
}
.right {
    margin-right: 0px;
    float: right;
}
.listContainer {
    width: 50%;
}
.listHeader {

}

/* Buglist related */
ul.buglist {
    padding: 2px;
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
}

ul.buglist .dependson {
    margin-left: 1em;
}

li.blitem {
    border: 1px solid;
    margin: 1px;
    overflow-x: hidden;
    margin-bottom: 5px;
}
li.blitem-hl {
    background-color: lightgray;
}

li.blitem span {
}

li.blitem span.times {
    float: right;
    height: 0px;
}
li.blitem div.details {
    display: none;
}

li.blitem button.expand {
    width: 1em;
    height: 1em;
}
