#templates {
    display: none;
}

.editor {
    display: none;
}
button.add {
    width: 1.5em;
    height: 1.5em;
}
button.remove {
    width: 1.5em;
    height: 1.5em;
}

.listContainer {
    width: 50%;
}
.listHeader {

}
.bugList {
    border: 1px dotted;
    list-style-type: none;
    padding: 2px;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
.bugList li {
    border: 1px solid;
    margin: 1px;
    overflow-x: hidden;
    white-space: nowrap;
}

.bugItem span {
    margin-left: 1em;
}

.bugItem [title='times'] {
    float: right;
}
.bugItem .details {
    display: none;
}


.center {
    margin-left: auto;
    margin-right: auto;
}
.left {
    margin-left: 0px;
    float: left;
}
.right {
    margin-right: 0px;
    float: right;
}

