#templates {
    display: none;
}

/* Team management pages */
.editor {
    display: none;
}
button.add {
    width: 1.5em;
    height: 1.5em;
}
button.remove {
    width: 1.5em;
    height: 1.5em;
}

.grid-block {
    display: inline-block;
    float: left;
    padding: 1em;
}

.team-block {
    display: inline-block;
    padding-left: 1em;
    margin-bottom: 1ex;
    vertical-align: text-top;
    width: 30em;
    min-height: 24em;
    border: 1px dotted;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}


/* Scrum planning page */
.center {
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    width: 100%;
}
.list-container {
    width: 50%;
    vertical-align:top;
}
.content-selector {
    width: 100%;
}

/* Buglist related */
.buglist {
    padding: 2px;
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.buglist.dependson {
    overflow: visible;
}

.blitem .dependson {
    margin-left: 1em;
}

.blitem {
    border: 1px solid;
    margin: 1px;
    margin-bottom: 5px;
}

.blitem-hl {
    background-color: lightgray;
}

.blitem-placeholder {
    background-color: gray;
    height: 2em;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}

.over-capacity {
    background-color: pink;
}

.blitem span.times {
    float: right;
    height: 0px;
}

.blitem div.details {
    display: none;
}

.blitem button.expand,
.blitem button.add-child,
.blitem button.estimate {
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
}
