[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% USE Bugzilla %]
[% unprioritized_query = '' %]
[% FOREACH param IN team.unprioritized_search_params %]
    [% value = param.value FILTER uri %]
    [% unprioritized_query = unprioritized_query _ "${param.key}=${value}&amp;" %]
[% END %]

[% columnlist = Param('agile_scrum_buglist_columns') FILTER uri %]

<h2>Scrum</h2>
<ul>
[% IF team.current_sprint %]
    <li>
        <a href="buglist.cgi?query_format=advanced&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.current_sprint.id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]&amp;query_based_on=[% team.current_sprint.name FILTER uri %]">
            Current sprint</a>, [% team.current_sprint.name FILTER html %] (pool ID [% team.current_sprint.id %])
        <ul>
            <li>
                <a href="buglist.cgi?query_format=advanced&amp;resolution=---&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.current_sprint.id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]&amp;query_based_on=[% team.current_sprint.name _ ' open items' FILTER uri %]">
                Open items</a>
            </li>
            <li>
                <a href="buglist.cgi?query_format=advanced&amp;bug_status=RESOLVED&amp;bug_status=VERIFIED&amp;bug_status=CLOSED&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.current_sprint.id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]&amp;query_based_on=[% team.current_sprint.name _ ' resolved items' FILTER uri %]">
                Resolved items</a>
            </li>
            <li>
                <a href="report.cgi?x_axis_field=bug_status&amp;z_axis_field=agile_pool.name&amp;action=wrap&amp;format=bar&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.current_sprint.id %]">
                Status overview</a>
            </li>
            <li>
                <a href="buglist.cgi?query_format=advanced&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.current_sprint.id %]&amp;query_based_on=[% team.current_sprint.name FILTER uri %]&amp;format=burn&amp;burn_start=[% team.current_sprint.start_date FILTER time('%Y-%m-%d') %]&amp;burn_end=[% team.current_sprint.end_date FILTER time('%Y-%m-%d') %]&amp;burn_type=work">
            Burndown</a>
            </li>
        </ul>
    </li>
[% END %]
    <li>
        <a href="page.cgi?id=agiletools/scrum/sprints.html&amp;team_id=[% team.id %]">All sprints</a>
    </li>
    <li>
        <a href="buglist.cgi?query_format=advanced&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.backlog_id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]&amp;query_based_on=[% team.backlog.name FILTER uri %]">Backlog</a> (pool ID [% team.backlog_id %])
    </li>
    [% IF unprioritized_query %]
    <li>
        <a href="buglist.cgi?[% unprioritized_query %]query_format=advanced&amp;query_based_on=[% team.name _ ' unprioritized items' FILTER uri %]">Unprioritized items</a>
    </li>
    [% END %]
    [% IF user.in_group_id(team.group_id) %]
    <li>
        <a href="page.cgi?id=agiletools/scrum/planning.html&amp;team_id=[% team.id %]">Planning</a>
    </li>
    [% END %]
</ul>
