[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the AgileTools Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Pami Ketolainen
  # Portions created by the Initial Developer are Copyright (C) 2012 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Pami Ketolainen <pami.ketolainen@gmail.com>
  #%]

[% USE Bugzilla %]
[% resp_params = BLOCK -%]
    [%- FOREACH comp = team.components -%]
        [%- "component=" _ comp.name _ "&amp;" -%]
    [%- END -%]
    [%- FOREACH kw = team.keywords -%]
        [%- "keywords=" IF loop.first() %][% kw.name FILTER uri %][% "%2C" UNLESS loop.last() %]
    [%- END -%]&amp;
[%- END -%]
[% unprioritized_query = 'query_format=advanced&amp;' _
                         'f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=-1&amp;' _
                         'resolution=---&amp;keywords_type=anywords&amp;' _ resp_params %]
[% columnlist = Param('agile_scrum_buglist_columns') FILTER uri %]

<h2>Scrum</h2>
<ul>
[% IF team.current_sprint %]
    <li>
        <a href="buglist.cgi?query_format=advanced&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.current_sprint.id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]&amp;query_based_on=[% team.current_sprint.name FILTER uri %]">
            Current sprint</a>, [% team.current_sprint.name FILTER html %] (pool ID [% team.current_sprint.id %])
        <ul>
            <li>
                <a href="buglist.cgi?query_format=advanced&amp;resolution=---&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.current_sprint.id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]&amp;query_based_on=[% team.current_sprint.name _ ' open items' FILTER uri %]">
                Open items</a>
            </li>
            <li>
                <a href="buglist.cgi?query_format=advanced&amp;bug_status=RESOLVED&amp;bug_status=VERIFIED&amp;bug_status=CLOSED&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.current_sprint.id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]&amp;query_based_on=[% team.current_sprint.name _ ' resolved items' FILTER uri %]">
                Resolved items</a>
            </li>
            <li>
                <a href="report.cgi?x_axis_field=bug_status&amp;z_axis_field=agile_pool.name&amp;action=wrap&amp;format=bar&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.current_sprint.id %]">
                Status overview</a>
            </li>
            <li>
                <a href="buglist.cgi?query_format=advanced&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.current_sprint.id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]&amp;query_based_on=[% team.current_sprint.name FILTER uri %]&amp;format=burn&amp;burn_start=[% team.current_sprint.start_date FILTER time('%Y-%m-%d') %]&amp;burn_end=[% team.current_sprint.end_date FILTER time('%Y-%m-%d') %]&amp;burn_type=work">
            Burndown</a>
            </li>
        </ul>
    </li>
[% END %]
[% IF team.previous_sprint %]
    <li>
        <a href="buglist.cgi?query_format=advanced&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.previous_sprint.id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]&amp;query_based_on=[% team.previous_sprint.name FILTER uri %]">
            Previous Sprint</a>, [% team.previous_sprint.name FILTER html %] (pool ID [% team.previous_sprint.id %])
    </li>
[% END %]
    <li>
        <a href="page.cgi?id=agiletools/scrum/sprints.html&amp;team_id=[% team.id %]">All sprints</a>
    </li>
    <li>
        <a href="buglist.cgi?query_format=advanced&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% team.backlog_id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% columnlist %]&amp;query_based_on=[% team.backlog.name FILTER uri %]">Backlog</a> (pool ID [% team.backlog_id %])
    </li>
    <li>
        <a href="buglist.cgi?[% unprioritized_query %]&amp;query_based_on=[% team.name _ ' unprioritized items' FILTER uri %]">Unprioritized items</a>
    </li>
    [% IF user.in_group_id(team.group_id) %]
    <li>
        <a href="page.cgi?id=agiletools/scrum/planning.html&amp;team_id=[% team.id %]">Planning</a>
    </li>
    [% END %]
</ul>
