[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% INCLUDE global/header.html.tmpl title = "Create Team" %]

<h1>Create Team</h1>
<form action="page.cgi">
    <input type="hidden" name="id" value="agiletools/team/show.html"/>
    <input type="hidden" name="action" value="create"/>
    Name for the new team: <input name="name"/>
    <button type="submit">Create</button><br/>
    Uses: <select name="process_id">
        [% FOREACH p IN processes %]
        <option value="[% p.key %]">[% p.value %]</option>
        [% END %]
    </select><br/>
    <input type="checkbox" name="create_backlog"/> Create backlog<br/>

</form>

[% INCLUDE global/footer.html.tmpl %]

