[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% INCLUDE global/header.html.tmpl
    title = "Teams",
    style_urls = [
        "extensions/AgileTools/web/css/base.css",
        ],
%]

[% FOREACH team IN agile_teams %]
<div class="team-block">
    <h2>Team:
        <a href="page.cgi?id=agiletools/team/show.html&amp;team_id=[% team.id %]">
        [% team.name FILTER html %]</a>
        [% IF can_manage_teams %]
        [<a href="page.cgi?id=agiletools/team/list.html&amp;team_id=[% team.id %]&amp;action=remove"
           onclick="return confirm('Are you sure you want to delete team [% team.name %]?');"
           >Remove</a>]
        [% END %]
    </h2>

    [% TRY %]
        [% PROCESS "agiletools/process/${team.process_id}_summary_links.html.tmpl" %]
    [% CATCH %]
        <b>Failed to display team summary!</b><br/>
        [% error.type FILTER html %]: [% error.info FILTER html %]
    [% END %]
</div>
[% END %]

<hr/>
[% IF can_manage_teams %]
[<a href="page.cgi?id=agiletools/team/create.html">
Create new team</a>]
[% END %]
[% INCLUDE global/footer.html.tmpl %]
