[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% javascript = BLOCK %]

/**
 * Page script entry point
 */
$(function() {
    $("button.editor-toggle").click(function(){
        $(".editor").toggle();
    });
    var team = new Team([% team_json %]);
});

[% END %]

[% INCLUDE global/header.html.tmpl
    title = "Team $team.name",
    style_urls = [
        "extensions/AgileTools/web/css/base.css",
        "extensions/AgileTools/web/css/colorbox.css",
        ],
    javascript_urls = [
        "extensions/AgileTools/web/js/jquery.colorbox-min.js",
        "extensions/AgileTools/web/js/team.js",
        ],
%]

<div id="templates">
<table>
    <tr id="member_template">
        <td class="name"></td>
        <td>
            <button class="editor remove" type="button">Remove member</button>
        </td>
        <td>
            <ul class="roles">
                <li class="editor">
                    <select class="role-new">
                        <option value=""></option>
                    [% FOREACH role IN roles %]
                        <option value="[% role.id %]">[% role.name FILTER html %]</option>
                    [% END %]
                    </select>
                    <button class="add" type="button">Add role</button>
                </li>
            </ul>
        </td>
    </tr>
    
    <li id="role_template">
        <span class="name"></span>
        <button class="editor remove" type="button">Remove role</button>
    </li>

    <tr id="responsibility_template">
        <td class="name"></td>
        <td class="editor">
            <button type="button" class="remove">Remove</button>
        </td>
    </tr>
</table>

</div>

<h1>Team [% team.name FILTER html %]
[% UNLESS team.is_active %] (inactive)[% END %]</h1>

<form class="editor" method="POST"
    action="page.cgi?id=agiletools/team/show.html&amp;team_id=[% team.id %]">
  <label for="name">Name:</label>
  <input name="name" value="[% team.name FILTER html %]"><br>
  <label for="is_active">Is active:</label>
  <input type="checkbox" name="is_active"
    [% IF team.is_active %]checked="checked"[% END %]><br>
  <button type="submit" name="action" value="save">Save</button>
</form>

[% TRY %]
    [% PROCESS "agiletools/process/${team.process_id}_summary_links.html.tmpl" %]
[% CATCH %]
        <b>Failed to display team summary!</b><br/>
        [% error.type FILTER html %]: [% error.info FILTER html %]
[% END %]

[% IF team.user_can_edit %]
<div class="editor">
    <h2>Add backlogs</h2>
    <input id="new_backlog" type="text"/>
    <button class="add" type="button" id="add_new_backlog"
        >Create new backlog</button><br/>
    [% IF available_backlogs.size %]
    <select id="existing_backlog">
        [% FOREACH bl IN available_backlogs %]
        <option value="[% bl.id %]">[% bl.name FILTER html %]</option>
        [% END %]
    </select>
    <button class="add" type="button" id="add_existing_backlog"
        >Add existing backlog</button><br/>
    [% END %]
</div>
[% END %]

<h2>Members</h2>
<table id="team_members" class="team_info">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        <tr class="editor">
        [% IF team.user_can_edit %]
            <td>
                <input class="member-new">
            </td>
            <td>
                <button class="add" type="button">Add member</button>
            </td>
            <td></td>
        [% END %]
        </tr>
    </tbody>
</table>
</ul>

[% IF team.user_can_edit %]
<button class="editor-toggle" type="button">Show/Hide Editing</button><br/>
[% END %]

[% INCLUDE global/footer.html.tmpl %]

