[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]
[% IF bug.check_can_change_field('pool_id', 0, 1) %]
<tr>
    <th class="field_label">Pool:</th>
    <td>
        <select name="pool_id">
            <option value="0">None</option>
        [% IF bug.pool_id %]
            <option value="[% bug.pool_id %]" selected="selected">
            [% bug.pool.name FILTER html %]</option>
        [% END %]
        [% FOREACH pool = active_pools %]
            [% NEXT IF bug.pool_id == pool.id %]
            <option value="[% pool.id %]">
            [% pool.name FILTER html %]</option>
        [% END %]
        </select>
        [% IF bug.pool_id %]
        <a href="buglist.cgi?query_format=advanced&amp;f1=bug_agile_pool.pool_id&amp;o1=equals&amp;v1=[% bug.pool_id %]&amp;order=bug_agile_pool.pool_order&amp;columnlist=[% Param('agile_scrum_buglist_columns') FILTER uri %]&amp;query_based_on=[% bug.pool.name FILTER uri %]">[% terms.Bug %] list</a>
        [% END %]
    </td>
</tr>
[% END %]
[% IF bug.pool_id %]
<tr>
    <th class="field_label">Pool ID / Order:</th>
    <td>[% bug.pool_id %]&nbsp;/&nbsp;[% bug.pool_order %]</td>
</tr>
[% END %]
